<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HealthKit</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'healthapp/style.css' %}"/>



</head>
<body class="img-responsive">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--Header & Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HealthKit</a>
            </div>

            <!--Items-->
            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'healthapp:index' %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Emergency
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp; BMI Calculator
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp; Diabetes Calculator
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; About Us
                        </a>
                    </li>


                    <li class="">
                        <a href="{% url 'healthapp:doctor_login' %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Doctor Login
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'healthapp:patient_login' %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Patient Login
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </nav>

{% block body %}
{% endblock %}

</body>
</html>