{% extends 'healthapp/BasePatient.html' %}

{% block body %}

<div class="container">

    <form name="search_input_form" action="{% url 'healthapp:area_search' %}" method="get" >
        {% csrf_token %}
        <input name="area" type="text" placeholder="Search by Area" class="SearchBar">
        <button name="submit" type="submit" class="btn btn-primary btn-sm">Area Search</button>

    </form>

    <form name="search_input_form" action="{% url 'healthapp:category_search' %}" method="get" >
        {% csrf_token %}
        <input name="category" type="text" placeholder="Search by Category" class="SearchBar">
        <button name="submit" type="submit" class="btn btn-primary btn-sm">Category Search</button>
    </form>

    <br>

    <form name="search_input_form" action="{% url 'healthapp:filter_search' %}" method="get" >
        {% csrf_token %}
        <input name="area_filter" type="text" placeholder="Select Area" class="SearchBar">
        <input name="category_filter" type="text" placeholder="Select Category" class="SearchBar">
        <button name="submit" type="submit" class="btn btn-primary btn-sm">Filter Search</button>
    </form>



<br>

</div>

    {% for doctor in all_doctor %}
        <div class="col-sm-6 col-lg-3 "  >
            <div class="thumbnail" style="background-color: antiquewhite">
                <a href="{% url 'healthapp:doctor_profile' doctor.id %}">
                    <img src="http://www.holyspirithospital.org/images/doctor/holy-spirit-dr.png" class="img-responsive" style="width: auto; height: auto">
                </a>
                <div class="caption">
                    <h2>{{ doctor.doctor_name }}</h2>
                    <h4>{{ doctor.doctor_degree }}</h4>

                    <a href="{% url 'healthapp:doctor_profile_patient' doctor.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                </div>
            </div>
        </div>
        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
    {% endfor %}

{% endblock %}