{% extends 'healthapp/BaseHome.html' %}

{% block body %}
    <div class="container container_center">

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <h3>Patient Login</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'healthapp/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Don't have an account? <a href="{% url 'healthapp:patient_reg' %}">Click here</a> to Register.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}